.container {
    display: flex;
    justify-content: center;
}

.container div {
    min-width: 30px;
}

.container div:nth-child(1) {
    margin-right: 10px;
}

.container div:nth-child(3) {
    margin-left: 10px;
}